<mat-card
    class="daxa-card completed-projects-card border-radius border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-content>
        <div class="d-flex justify-content-between">
            <div class="title">
                <h5>
                    Completed Projects
                </h5>
                <div class="number fw-medium lh-1">
                    128
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
